body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
 
}

.slider-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(192, 187, 187, 0.5);
  border: 2px solid #fff;
  cursor: ew-resize;
  z-index: 2;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  transition: filter 0.3s ease;
}

.slider-track.active {
  background: transparent;
}

.image.active {
  filter: blur(0);
}



/* home */
.header {
  background-color: whitesmoke;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header img {
  height: 80px;
  margin-right: 10px;
}

.header span {
  margin-right: 10px;
  font-size: 14px;
}

.header a {
  margin-right: 10px;
  font-size: 14px;
}

/* .header a:last-child {
  margin-right: 0;
} */

.header .icons {
  display: flex;
  align-items: center;
}

.header .icons img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  padding: 5px;
  margin-top: 20px;
  background-color: rgb(243, 239, 239);
  border-radius: 5px;
}

.header .icons span {
  margin-top: 20px;
  color: gray;
}

/* .header .icons img:last-child {
  margin-right: 0;
} */

.sub-header {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: black !important;
}

.space {
  margin-right: 30px;
  margin-left: 30px;
}

.space span {
  color:  rgb(43, 13, 43);
}


/* home banner */

.video-container {
  position: relative;
  width: 100%;
}

.video {
  width: 100%;
}

.text {
  position: absolute;
  top: 80px;
  left: 200px;
  font-family: Arial, sans-serif;
  padding: 0px;
}

.trail {
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: bold;
}

.text h5 {
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  font-weight: 00;
}

.btn {
  background-color:#00b3a3;
  color: white;
  border: 1px aquamarine;
  border-radius: 30px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
}

.buttons {
  display: flex;
  align-items: center;
}

.play-button {
  margin-left: 40px;
  background-color: #00b3a3;
  color: white;
  border: 5px solid rgb(151, 207, 163);
  border-radius: 50%;
  padding: 8px;
  margin-top: 40px;
  align-items: center;
  display: flex;
}

.watch {
  border: 5px rgb(0, 4, 3);
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 10px;
  font-weight: 600;
}

.below_contents h1 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.below_contents small {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  color: grey;
  font-size: medium;
}




@media (min-width: 0px) and (max-width: 1000px) {
  .buttons {
    display: none;
  }

  .video-container {
    position: relative;
    max-width: 100%;
    width: auto;
  }

  .video {
    max-width: 100%;
  }

  .text {
    position: absolute;
    top: 80px;
    left: 100px;
    font-family: Arial, sans-serif;
    padding: 0px;
  }
}



/* responsiveness */
@media screen and (max-width: 768px) {
  .text {
    top: 40px;
    left: 20px;
  }

  .slider-track {
    width: 50%;
    height: 25%;
  }

  .respon {
    display: none;
  }

  .text h5 {
    font-size: 24px;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .play-button {
    margin-left: 0;
    margin-top: 20px;
  }

  .watch {
    margin-top: 20px;
    margin-left: 0;
  }

  .below_contents small {
    margin-left: 20px;
    margin-right: 20px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .space {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .icons {
    margin-top: 1px;
  }

  .video-container {
    text-align: center;
  }

  .video {
    width: 100%;
    height: auto;
  }

  .text {
    position: static;
    text-align: center;
    margin-top: 20px;
  }

  .below_contents {
    text-align: center;
    margin-top: 20px;
  }

  .below_contents h1 {
    font-size: large;
  }

  .slider-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px !important;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .text-center {
    text-align: center;
    margin-top: 20px;
  }

  .text-center h1 {
    font-size: large;
  }
}

.image {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .slider-container {
    max-width: 80%;
    height: 80%;
    margin: 0 auto;
  }
}


/* //section2 */
html,
body {
    height: 100%;
    margin-top: 0px;
    padding: 0;
    margin-bottom: 50px;
}

.container {
    width: 100%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    transition: width 0.3s ease;
    margin-bottom: 100px;
    margin-top: 100px;
}

.image1 {
    flex: 2;
    height: 100%;
    width: 30%;
    object-fit: cover;
    cursor: pointer;
    transition: flex 0.3s ease;
}

.div1,
.div2 {
    flex: 1;
    height: 100%;
    cursor: pointer;
    transition: flex 0.3s ease;

}

.div1 {
    background: linear-gradient(101.83deg, #3a2743 9.43%, #8b51c1 99.34%);
    ;
}

.div2 {
    background: linear-gradient(101.83deg, #7D30A1 9.43%, #C586FF 99.34%);
    ;
}

.expanded {
    flex: 3;
}

.collapsed {
    flex: 1.9;
}

.carousal_img_text {
    position: relative;
    color: white;
    margin: 0;
}

.carousal_img_text .img-text {
    position: absolute;
    left: 70px;
    top: 150px;
    color: white;
}

.img-text p {
    padding: 0;
    margin: 0;
    font-size: large;
    font-weight: bolder;
}

.img-text small {
    color: grey;

}

.carousla-img-btn {
    position: absolute;
    left: 70px;
    top: 350px;
}

.Cbtn {
  color: rgb(43, 13, 43);
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  border: 2px solid white; /* Add this line */
}


.div1_btn {
    position: relative;
    top: 10px;
}

.div2_btn {
    position: relative;
    top: 251px;
}

.div1_text {
    color: white;
}

.div1_list ul {
    color: white;
    list-style: none;
    padding-left: 20px;
}

.div1_list ul li {
    padding-bottom: 10px;
}

.free_coating {
    color: white;
    font-size: larger;
    background-color: #70b2d9;
    background-image: linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%);
    width: 50%;
}

.div1_image {
    position: relative;
    left: 140px;
    top: -120px;
}

.div2_text p {
    color: white;
    padding: 3px;
    margin: 0px;
}

.div2_2 {
    font-size: small;
    color: rgb(210, 202, 202);
}

.div2_main {
    font-size: larger;
    font-weight: bolder;

}

.div2_last {
    font-size: small;
}

.div2_img {
    margin-left: 20px;
}

/* Media queries  */
@media screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .image1 {
        width: 100%;
        flex: 0.5;
    }

    .div1,
    .div2 {
        width: 100%;
        flex: 1;
    }
}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        height: auto;
        margin-top: 50px;
    }

    .image1,
    .div1,
    .div2 {
        width: 100%;
        flex: 1;
    }

    .image1 {
        height: 200px;
    }

    .div1,
    .div2 {
        margin-top: 20px;
    }

    .carousal_img_text {
        margin-top: 20px;
        text-align: center;
    }

    .img-text {
        left: 0;
        top: 0;
        transform: translate(0, -50%);
    }

    .carousla-img-btn {
        left: 0;
        top: 0;
        transform: translate(0, -50%);
    }

    .div1_image {
        left: 0;
        top: 0;
        transform: none;
    }
}